<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

{% seo %}

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  </head>
  <body>
    <div class="wrapper">
      <header {% unless site.description or site.github.project_tagline %} class="without-description" {% endunless %}>
        <a id="a-title" href="{{ '/' | relative_url }}">
          <h1>
            {% if page.title %}
              {{ page.title }}
            {% else %}
              {{ site.title | default: site.github.repository_name }}
            {% endif %}
          </h1>
        </a>
        {% if page.date %}
          <p>{{ page.date | date: '%Y-%m-%d %H:%M' }}</p>
        {% else %}
          <p>{{ site.subtitle }}</p>
        {% endif %}
      </header>
      <section>
        {{ content }}
      </section>
    </div>
    
    <footer>
      <center>©达奚云</center>
    </footer>
  </body>
</html>
